* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_HB_container {
    width: 100%;
}

.boxName {
    width: 60%;
    height: 200px;
    margin: 20px auto;
    padding-top: 10px;
    border-radius: 14px;
    background-color: #b5d8f7;

}

.weekRollContainer,
.container3in5,
.main_HB_container {
    margin-top: 150px;
}

#HBText {

    text-decoration: overline;

}

h2 {
    text-align: center;
    font-size: 39px;
}

.aboutHBCont {
    width: 60%;
    margin: 3px auto;

}


.HBText_h1 {
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 20px;

}

.HBText_p {
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.HBText_list {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    margin-bottom: 30px;
    /* list-style-type: disc !important; */
}

.HBLink {
    text-decoration: none;
}

.HBText_h3 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

#RolOfWeek_h2 {
    font-size: 50px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

.RolOfWeek_h1 {
    font-size: 55px;
}

.RolOfWeek_list {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px 0 40px 80px;
}


.firstBlok {
    width: 100%;
    display: flex;

    justify-content: space-around;
    margin-bottom: 20px;
}

.actionText {
    text-decoration: overline;
    color: #b5d8f7;
    margin: 120px 0 20px 20px;
}

.actionParagraf {
    display: block;

    margin: 20px auto 30px;
    font-size: 22px;

}

.actionContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 1px solid #b5d8f7;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.ActionTakeYourselfWrapper {
    width: 100vh;
    margin: 150px auto;
}

.nameAction {
    font-size: 24px;
    font-weight: bold;
    margin: 5px auto;
}

.btnActionMore {
    width: 200px;
    height: 65px;
    background-color: #b5d8f7;
    border: none;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 18px;
}

.btnActionMore:hover {
    cursor: pointer;
    color: whitesmoke;
}

.action_ul_list {
    font-size: 25px;
    margin: 10px 0 15px 40px;
}

.action3in5_h1 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: bold;

    text-decoration: overline;
}


.action3in5_h2 {
    margin: 30px 0 30px 0;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.action3in5_list {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 30px 0 30px 80px;
}

.takeYoureslf_h2 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-bottom: 30px;

}

.takeYoureslf_h1 {
    font-size: 60px;
    margin-top: 10px;
    text-decoration: overline;
}

.takeYoureslf_span {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0 20px 0;
    font-weight: bold;
}

.takeYoureslf_ul_list,
.takeYoureslf_ol_list {
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 15px 0 15px 80px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {


    .actionMainCont {
        width: 90%;
    }

    .actionContainer {
        width: 45%;
    }

    .actionText {
        margin-top: 120px;
    }

    .firstBlok {
        margin-left: 6%;
    }
}

@media screen and (max-width: 767px) {

    .actionText {
        display: block;
        border: 2px solid black;
        text-decoration: overline;
        color: #b5d8f7;

        width: 30%;
        font-size: 14px;
        margin: 100px auto 50px;

    }

    .RolOfWeek_list {

        margin: 40px auto;
        width: 80%;
    }

    .firstBlok {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .actionMainCont {

        width: 100%
    }

    .RolOfWeek_h1 {
        font-size: 35px;
    }

    .HBText_h1 {
        font-size: 40px;


    }

    .HBText_item {

        border: 2px solid black;
    }

    .HBText_list {
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        width: 80%;
        margin: 40px auto;
        /* list-style-type: disc !important; */
    }

    #RolOfWeek_h2 {
        font-size: 30px;
        margin-top: 10px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
    }

    .actionContainer {
        width: 80%;
        margin: 0 auto;
    }

    .aboutHBCont {
        width: 80%;

        margin: 0 auto;
    }

    .ActionTakeYourselfWrapper {
        width: 100%;
        margin: 150px auto;
    }

    .takeYoureslf_ol_list,
    .takeYoureslf_ul_list {
        margin: 20px auto;
    }

    #HBText {
        font-size: 23px;
        text-decoration: overline;

    }


    .boxName {
        width: 80%;
        height: 150px;
        margin: 20px auto;
        padding-top: 10px;
        border-radius: 14px;
        background-color: #b5d8f7;

    }

    .takeYoureslf_h2 {
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20px;
        margin-bottom: 30px;

    }

    .actionParagraf {
        display: block;

        margin: 20px auto 30px;
        font-size: 14px;

    }

    .action_ul_list {
        font-size: 14px;
        margin: 10px 0 15px 40px;
    }

    .weekRollContainer,
    .container3in5,
    .main_HB_container {
        margin: 150px auto 0;
        width: 100%
    }


    .action3in5_list {
        width: 80%;
        margin: 40px auto;
    }

    .takeYoureslf_h1 {
        font-size: 30px;
        margin-top: 40px;
        text-decoration: overline;
    }



}