* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.basketContainer {
    width: 40%;

    max-height: 100vh;
    border: 1px solid rgb(150, 150, 150);
    background-color: aliceblue;
    position: fixed;
    top: 100px;
    z-index: 10;

    right: 0;
}

.itemsCount {
    /* border: 2px solid ; */
    max-height: 200px;
    overflow-y: auto;
}

.orderItem {
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid rgb(150, 150, 150);
    display: flex;
    justify-content: space-between;
    /* margin: 5px 0 5px; */
    align-items: center;

}

.textTryAlways {
    color: black;
    margin-top: 15px;
    text-align: center;
    font-size: 22px;
    margin-bottom: 15px;
}

.emptyBasketBtn {
    width: 120px;
    height: 41px;
    color: white;
    font-size: 13px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;

    font-weight: bold;
    background-color: #60a8e7;
    display: block;
    position: relative;
    margin: 10px auto;
}

.orderName {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    font-weight: bold;
}

.orderImg {
    width: 100px;
    height: 75px;
    margin-left: 10px;
    object-fit: contain;
}

.changeContainer {
    width: 130px;
    display: flex;
}

.btnOrder {
    width: 30%;
    height: 85%;
    border: none;
    background-color: white;
    border-radius: 7px;

    font-weight: bold;
}

.btnOrder:hover {
    background-color: #b5d8f7;
}

.count,
.itemsPrice {
    color: black;
}

.itemsPrice {
    font-weight: bold;
    margin: 10px auto;
}



.orderCount {
    width: 50px;
    height: 30px;
    border: 2px solid rgb(196, 195, 195);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.makeOrderBtn {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: #b5d8f7;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 30px;

    width: 170px;

}

.bottomBasketContainer {
    width: 55%;
    display: flex;
    height: 100%;
    margin-left: 20px;
}

.emptyBasketPic {
    width: 80px;
    height: 60px;
    display: block;
    position: relative;
    margin: 20px auto;
}

.emptyBasketText {
    color: black;
    text-align: center;
    font-size: 22px;
}

.makeOrderBtn:hover {
    cursor: pointer;
    color: white;
}

.total {
    color: black;
    margin-left: 20px;
    font-size: 22px;
}



.carouselDrinks {
    width: 90%;
    height: 200px;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    border: 1px solid #b5d8f7;
    border-radius: 5px;
    margin-bottom: 30px;
}

.drinkImg {
    width: 80px;
    height: 60px;
    margin: 0 auto;
    object-fit: contain;
}

.drinkName {
    font-size: 12px;
    /* text-decoration: none; */
    text-align: center;
    margin-top: 5px;
}

.aboutProduct {
    display: flex;
    width: 100%;

}

.prodPrice {
    width: 50%;
    font-size: 10px;
    font-weight: bold;
    margin-left: 10px;
}

.weightProduct {
    width: 50%;
    font-size: 10px;
    display: flex;
    margin: 0 0 30px 20px;
}

.itemOption {
    border: 1px solid black;
    width: 25%;
    text-align: center;
    border-radius: 5px;
    font-size: 10px;
    margin: 0px 0 0px 20px;
    background-color: rgb(182, 41, 41);
    color: white;
    padding-bottom: 2px;
}

.footItem {
    position: absolute;
    width: 100%;
    bottom: 3px;
    display: flex;

    justify-content: space-around;
}

.btnBuyMini {
    width: 60px;
    height: 25px;
    font-size: 7px;
    border-radius: 5px;
    border: none;
    /* position: absolute;
    bottom: 0;
    right: 0; */
    font-weight: bold;
    background-color: #b5d8f7;
    color: black;
    margin-right: 5px;
}

.trashPic {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 135px;
}

.trashPic {
    cursor: pointer;
    fill: #60a8e7;
}

.btnBuyMini:hover {
    cursor: pointer;
    color: whitesmoke;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .basketContainer {
        top: 90px;
        width: 50%;
    }

    .drinkImg {
        width: 70px;
        height: 50px;
    }

    .carouselDrinks {
        width: 130px;
        height: 150px;
        margin-bottom: 20px;
    }

    .carouselPadding {
        /* border: 1px solid black;
        width: 15%; */
        display: flex;
        justify-content: center;
    }

    .prodPrice {
        width: 50%;
        font-size: 12px;
        display: inline-block;

    }

    .trashPic {
        width: 35px;
        height: 25px;
        right: 120px;

    }

    .btnBuyMini {
        width: 50px;
        height: 17px;
        font-size: 6px;
    }

    .orderCount {
        width: 40px;
        height: 25px;

    }

    .itemsPrice {
        font-size: 13px;
        margin-right: 5px;
    }

    .changeContainer {

        width: 26%;
        margin: 0;
    }

    .orderName {
        font-size: 12px;
        margin-right: 15px;
    }

    .orderImg {
        width: 75px;

    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .basketContainer {
        top: 70px;
        width: 50%;

    }



    .orderImg {
        width: 65px;

    }

    .orderName {
        font-size: 10px;
        margin-left: 10px;
        width: 50%;
    }

    .trashPic {
        width: 25px;
        height: 20px;
        right: 70px;

    }

    .itemsPrice {
        font-size: 10px;

    }

    .orderCount {
        width: 50%;
        height: 25px;
        margin-left: 20px;
    }

    .carouselContainer {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-around;


    }

    .carouselDrinks {
        margin: 10px auto 10px;
    }

    .itemsCount {
        /* border: 2px solid ; */
        max-height: 150px;
        overflow-y: auto;
    }

}