* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carouselContainer {
    width: 98%;
    /* border: 1px solid black; */

    margin: 100px auto 0;
    padding-left: 15px;
    padding-bottom: 40px;
}

.sliddeNav {
    width: 300px;
    height: 20px;

    margin: 0px auto 0;
    display: flex;
    justify-content: space-between;
}


.saleContainer {
    width: 100%;
    display: block;
}

.custom {
    display: flex;
    margin: 0 auto;
    width: 30%;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;


}

.custom li {
    list-style: none;
    display: flex;

    margin: 0 10px;

}


.custom li button {
    border: none;
    background-color: #b5d8f7;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease;

}

.custom li button:focus {
    outline: none;
    background-color: rgba(102, 102, 216, 0.897);
}


.img {
    width: 95%;
    border-radius: 15px;
    /* height: 400px; */

    object-fit: contain;
    height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {


    .itemClass {

        margin: 0 auto;
        width: 30%;
        /* border: 1px solid black; */
    }



    .carouselContainer {
        position: relative;
        margin-top: 90px;
        /* border: 1px solid black; */
    }

    .custom li button {
        margin-bottom: 0px;
    }

}

@media screen and (max-width: 767px) {


    /* .karousel {
       
    } */
    .saleContainer {
        width: 100%;

    }

    .carouselContainer {
        width: 100%;
        margin-top: 70px;

    }

    .itemClass {

        margin: 0 auto;
    }

    .karousel {
        width: 90%;

    }



}