* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px 0 20px 0;
    overflow-x: hidden;
}

.nameOfBestItems {
    margin-top: 120px;
    color: #b5d8f7;
}



.productItem {
    color: black;
    height: 430px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.addingCont {
    height: 500px;
    width: 18%;
    margin: 0 auto;
    position: relative;
    border: 2px solid black;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    background-color: #b5d8f7;
}

.sectionAdding {

    margin: 5px auto 10px;
}

.uploadArea {
    width: 80%;
    height: 50px;
    padding-top: 10px;
    border: 1px solid black;
    margin: 10px auto 0;
    background-color: aliceblue;
}

.formAdding {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sendItemBtn {
    width: 40%;
    height: 30px;
    background-color: #3983c3;
    margin: 20px auto;
    color: black;
    border: none;
    border-radius: 7px;
    font-size: 16px;
}

.sendItemBtn:hover {
    cursor: pointer;
    background-color: rgb(74, 183, 255);
    color: green;
}

.productItem:hover {
    border: 2px solid #b5d8f7;
    border-radius: 5px;
    cursor: pointer;
}

.orderCount {
    width: 70px;
    height: 35px;
    border: 2px solid rgb(196, 195, 195);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.btnBuy {
    width: 90px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin: 0 5px 10px 0;
    background-color: #b5d8f7;
}

.btnBuy:hover {
    cursor: pointer;
    color: white;
}

.weightProduct {
    margin-right: 10px;
}



.itemIcon {
    width: 350px;
    height: 200px;
    padding: 5px;
    object-fit: contain;
    /* border: 1px solid black; */
}

.btnOrder {
    width: 30%;
    height: 85%;
    border: none;
    background-color: white;
    border-radius: 7px;

    font-weight: bold;
}



.btnOrder:hover {
    cursor: pointer;
    background-color: #b5d8f7;
}

.itemOption {
    background-color: rgb(182, 41, 41);
    width: 50px;
    color: white;
    border-radius: 5px;
    padding: 0 auto;
    text-align: center;
    border: 1px solid black;
    margin-left: 330px;
}

.prodPrice {
    margin: 15px 0 0 10px;
    font-weight: bold;
}



.itemProd {

    width: 60%;
    font-size: 12px;
    font-weight: bold;
}

.footItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    position: absolute;
}

.footDrink {
    width: 40%;
    border: 1px solid black;
    margin: 0 auto;
}

.nameProduct {
    font-size: 19px;
    font-weight: bold;
    text-align: center;
    color: black;

}

.aboutProduct {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nameCard {
    text-align: center;
    margin-top: 120px;
    color: #b5d8f7;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: overline;
    font-size: 52px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        margin: 10px auto;
        /* border: 1px solid black; */
        overflow-x: hidden;
    }

    .productItem {
        height: 360px;

        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
    }

    .itemOption {
        margin-left: 10px;
    }

    .nameProduct {
        margin-bottom: 10px;
    }

    .itemIcon {
        width: 250px;
        height: 100px;
        margin: 10px auto 0;
        /* border: 1px solid black; */
    }

    .btnBuy {
        width: 70px;
        height: 40px;
        font-size: 11px;
    }

    .addingCont {

        width: 30%;
        margin: 0 auto;
        position: relative;
        border: 2px solid black;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        background-color: #b5d8f7;
    }

}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .addingCont {

        width: 60%;
        margin: 0 auto;
        position: relative;
        border: 2px solid black;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        background-color: #b5d8f7;
    }


    .card {
        margin: 0 auto;
        /* display: grid; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        width: 80%;
        margin: 0 auto;
        /* grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px; */

    }

    .productItem {
        height: 450px;

        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .nameProduct {
        font-size: 26px;
        margin: 0px auto 0;
    }

    .itemIcon {
        width: 350px;
        height: 200px;
        margin: 10px auto 0;

    }





    .nameCard {
        display: none;
    }
}