* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.deliveryContainer {
    margin-top: 5px;
    width: 100%;

    height: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b5d8f7;

}

.sect1,
.sect2,
.sect3 {
    width: 30%;
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.deliveryPictures1 {
    width: 135px;
    height: 135px;
}

.deliveryPictures2 {
    width: 90px;
    height: 90px;
}

.deliveryPictures3 {
    width: 85px;
    height: 85px;
}

.buttonDelivery {
    width: 150px;
    height: 50px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    text-align: center;
    color: black;
    text-decoration: none;
    padding-top: 12px;
    background-color: antiquewhite;
}

.buttonDelivery:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 0;
    border: 2px solid black;
}

.deliveryDescr {
    font-size: 18px;
    font-weight: bold;
}

.deliveryZoneContainer {
    width: 80%;

    margin: 120px auto;

}

.h1line {
    margin-top: 50px;

}

.h1line::after {
    content: '';
    width: 370px;
    height: 5px;
    background-color: #b5d8f7;
    left: 38%;
    border-radius: 5px;
    position: absolute;
}

.firstInfo {
    width: 100%;

    margin-top: 30px;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.deliveryCont1,
.deliveryCont2 {
    width: 47%;

    display: flex;
    justify-content: space-around;
}

.deliveryIcon {
    width: 200px;
    height: 170px;
    margin-top: 55px;

}

.descrybDelivery {
    width: 270px;
    height: 250px;
    margin-top: 30px;

}

.describeH6Green {
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.describeH6Yellow {
    color: rgb(212, 212, 18);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5px;
}

.describePtext {
    display: inline;
    font-size: 18px;
    margin-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.descrOptionsGreen {
    color: green;
    font-weight: bolder;
    font-size: 20px;
}

.descrOptionsYellow {
    font-weight: bolder;
    font-size: 20px;
    color: rgb(212, 212, 18);
}

.mapDelivery {
    width: 80%;

    margin: 30px auto;
}

.descrPayText {
    width: 80%;
    margin: 80px auto 0;
}

.descrPayText p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.payContainer {
    width: 70%;
    margin: 0 auto;

    display: flex;
    justify-content: space-around;
}

.payCashContainer {
    width: 40%;

    display: flex;

    justify-content: space-between;
}

.payCashIcon {
    width: 60px;
    height: 60px;
    margin-top: 35px;
    margin-left: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: #b5d8f7;
}

.payContainerDescr {
    width: 50%;

}

.mapDeliveryCont {
    width: 100%;
    height: 400px;
}

.payContainerDescr p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.desryHowToPayCont {
    width: 70%;

    margin: 20px auto;
}

.desryHowToPayCont p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .deliveryContainer {
        height: 140px;
    }

    .deliveryPictures1 {
        width: 37%;
    }

    .deliveryPictures2 {
        width: 27%;
    }

    .deliveryPictures3 {
        width: 20%;

    }


    .deliveryDescr {
        font-size: 16px;
    }

    .h1line::after {
        display: none;
    }

    .buttonDelivery {
        width: 45%;
        height: 30%;
        font-size: 12px;
    }

    .deliveryIcon {
        width: 45%;
    }

    .describePtext {
        font-size: 16px;
    }

    .descrOptionsGreen,
    .descrOptionsYellow {
        font-size: 18px;
    }


    .payCashIcon {
        width: 25%;
        display: flex;
        justify-content: center;
        margin-left: 25px;
    }

    .firstInfo {
        width: 100%;

        margin-top: 30px;
        height: 300px;
        display: flex;
        justify-content: space-around;
    }

}

@media screen and (max-width: 767px) {

    .deliveryContainer {
        display: none;
    }

    .h1line::after {
        display: none;
    }

    .firstInfo {
        width: 100%;

        margin-top: 30px;
        height: 300px;
        display: flex;
        flex-direction: column;
    }

    .deliveryZoneContainer {
        width: 100%;
        margin: 0;
    }

    .h1line {
        margin: 100px auto 0;
        font-size: 20px;
    }



    .mapDelivery {
        width: 80%;
        height: 20%;
        margin: 300px auto 20px;
    }

    .deliveryIcon {
        width: 130px;
        height: 100px;
        margin-top: 55px;

    }

    .describePtext {
        display: block;
        font-size: 12px;
        /* margin-left: 10px; */
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
    }

    .descrybDelivery {
        margin-left: 5px;
    }

    .payContainer {
        width: 100%;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
    }

    .payCashContainer {
        width: 100%;

        display: flex;
        justify-content: space-around;
    }

    .descrPayText p {
        margin: 0 auto;
        font-size: 18px;
    }



    .deliveryCont1,
    .deliveryCont2 {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

    .payH6 {
        font-size: 18px;
    }

    .payP {
        font-size: 14px;
    }

    .payCashIcon {
        width: 60px;
        height: 60px;
        margin-top: 35px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
        background-color: #b5d8f7;
    }








}