* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.footerLink {
    text-decoration: none;
}

h1 {
    font-size: 35px;
    font-weight: bold;
}

.lastFoot {
    width: 100%;
    border-top: 4px solid #b5d8f7;
    margin-top: 40px;
    padding-top: 10px;
}



.footAboutUs {
    width: 100%;
    display: flex;
    margin: 30px auto;
    justify-content: space-around;
}

.footDelivery {
    width: 200px;
    height: 130px;

}

.footOrder {
    width: 180px;
    height: 130px;

}

.footWorkTime {
    width: 140px;
    height: 130px;

}



.siteFoot {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.followUsFoot {
    display: flex;

}

.followImg {
    margin-left: 10px;
}

.followText {
    margin-right: 10px;
}

.payCards {
    margin-left: 5px;
}

.cardFoot_p {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px auto 30px;
    font-size: 22px;
}

.cardFooter {

    margin-top: 60px;
}

.cardFoot_H2 {
    text-align: center;
}

.cardFoot_H1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .cardFoot_H2 {
        font-size: 26px;
    }



    .cardFoot_H1 {
        font-size: 23px;
    }

    .footIcon {
        width: 14%;
    }

    .cardFoot_p {
        width: 85%;
    }


    .footDelivery,
    .footWorkTime,
    .footOrder {
        font-size: 13px;
    }

    .footerLink {
        font-size: 13px;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .footer {
        width: 100%;

    }

    .footIcon {
        width: 18%;
    }

    .footerLink {
        font-size: 12px;
        margin: 0 auto;
        display: none;
    }



    .footDelivery,
    .footOrder,
    .footWorkTime {
        font-size: 12px;
    }

    .cardFooter {


        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .cardFoot_H2 {
        font-size: 20px;
        display: inline-block;
        margin-bottom: 0;
    }

    .cardFoot_H1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: inline-block;
        margin: 0 auto;

    }


}