* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {

    width: 100%;
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;

    margin: 50px auto;
}

.itemIcon {
    margin-top: 75px;
    width: 500px;
    height: 250px;
    object-fit: contain;
}

.itemInfo {
    width: 400px;
    height: 200px;
    margin-top: 100px;


}

h1 {

    text-align: center;
}

.itemDetails {
    color: #7ab9f0;
    font-weight: bold;
    font-size: 18px;
}

.orderCount {
    width: 100px;
    height: 45px;
    border: 2px solid rgb(196, 195, 195);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.btnOrder {
    width: 30%;
    height: 85%;
    border: none;
    background-color: white;
    border-radius: 7px;

    font-weight: bold;
}

.btnOrder:hover {
    background-color: #b5d8f7;
    cursor: pointer;
}

.btnBuy {
    width: 90px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    background-color: #b5d8f7;
}

.btnBuyMini:hover {
    cursor: pointer;
    color: whitesmoke;
}

.btnBuyDrink:hover {
    cursor: pointer;
    color: whitesmoke;
}

.footContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.detailsContainer {
    margin-top: 5px;
}

.itemPrice {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.textAlso {
    margin-top: 35px;
    margin-bottom: 25px;
}



.carouselItem {
    width: 270px;
    height: 350px;
    border: 1px solid #b5d8f7;
    border-radius: 5px;
    display: flex;
    color: black;
    text-decoration: none;
    flex-direction: column;
    position: relative;
}

.carouselPadding {

    padding: 6px;
}

.carouselContainer {
    width: 80%;
    height: 400px;
    display: flex;
    margin: 15px auto;
}

.itemImg {
    width: 85%;
    height: 100px;
    object-fit: contain;
    margin: 10px auto;
}

.nameProduct {
    color: black;
    text-align: center;
    margin-top: 5px;
    font-size: 22px
}

.nameAlsoProduct {
    color: black;
    text-align: center;
    margin-top: 5px;
    font-size: 1.3vw
}

.itemOption {
    background-color: rgb(182, 41, 41);
    width: 50px;
    color: white;
    border-radius: 5px;
    padding: 0 auto;
    margin: 10px 0 0 15px;
    text-align: center;
}



.aboutProduct {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.itemProd {

    width: 60%;
    font-size: 10px;
    font-weight: bold;
}

.weightProduct {
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    /* color: black */
}

.footItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    position: absolute;
}

.prodPrice {
    margin: 15px 0 0 20px;
    font-weight: bold;
    font-size: 14px;
}

.orderCount {
    width: 70px;
    height: 35px;
    border: 2px solid rgb(196, 195, 195);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    position: relative;
}

.btnBuyMini {
    width: 70px;
    height: 40px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
    border: none;

    margin-right: 20px;
    margin-top: 5px;
    background-color: #b5d8f7;
}

.drinksContainer {
    display: flex;
    width: 100%;
    margin: 15px auto;

    padding: 0 40px;
    justify-content: space-around;

}

.drink_Item {
    width: 40%;
    height: 365px;
    border: 1px solid #b5d8f7;
    border-radius: 5px;
    display: flex;
    text-decoration: none;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-direction: column;

}

.drinkImg {
    width: 85%;
    height: 100px;
    object-fit: contain;
    margin: 10px auto;
}

.nameDrink {
    text-align: center;
    margin-top: 5px;
    font-size: 24px;
    text-decoration: none;
}

.footDrink {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

}

.orderDrink {
    width: 100px;
    height: 45px;
    border: 2px solid rgb(196, 195, 195);
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}

.drinkPrice {
    margin: 15px 0 0 10px;
    font-weight: bold;
}



.btnBuyDrink {
    width: 70px;
    height: 40px;
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    text-decoration: #7ab9f0;
    margin-right: 5px;
    margin-top: 5px;
    background-color: #b5d8f7;
}


.custom li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.custom li button {
    border: none;
    background-color: #b5d8f7;
    width: 12px;
    height: 12px;

    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.textTAsteAlso {
    margin: 30px auto;
}

.custom li button:focus {
    outline: none;
    background-color: rgba(102, 102, 216, 0.897);
}

.tryAlsoCont {
    width: 80%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.alsoItem {
    width: 19vw;
    height: 90%;
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}

.alsoItem:hover {
    cursor: pointer;
    border-color: #7ab9f0;
}

.aboutAlsoProduct {

    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.footAlsoItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    position: absolute;

}

.itemAlsoImg {
    width: 85%;
    height: 100px;
    object-fit: contain;
    margin: 10px auto;
}


.btnAlsoBuyMini {
    width: 5vw;
    height: 40px;
    font-size: 0.7vw;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
    background-color: #b5d8f7;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .carouselItem {
        width: 220px;
        height: 290px;

    }

    .container {
        margin: 0 auto;
        width: 80%;

    }

    .carouselContainer {
        width: 80%;

    }

    .itemImg {
        height: 30%;
    }

    .nameProduct {
        font-size: 16px;
        margin: 0 auto 0;
    }

    .itemOption {
        margin: 10px 0 10px 15px;
        width: 30px;
        font-size: 12px;
    }

    .itemIcon {
        width: 350px;
        height: 250px;
    }

    .carouselPadding {
        padding: 0 5px;
        width: 20%;
        display: flex;
        justify-content: center;
    }

    .localItemName {
        font-size: 26px;
    }

    .aboutProduct {
        margin-top: 10px;
    }

    .orderCount {
        width: 10%;
        height: 45px;
    }

    .weightProduct {
        font-size: 13px;
    }

    .btnBuy {
        width: 25%;
        height: 38px;
        font-size: 10px;
    }



    .itemProd {
        font-size: 9px;
    }

    .prodPrice {
        font-size: 1vw;
        color: red;
    }

    .orderCount {
        width: 25%;
        height: 35px;
    }

    .btnBuyMini {
        width: 25%;
        height: 30px;
        font-size: 0.7vw;
        margin-left: 10px;
    }

    .footItem {
        justify-content: space-between;
    }

    .btnAlsoBuyMini {
        font-size: 0.8vw;
        margin-right: 10px;
    }

    .itemInfo {

        margin-left: 25px;
    }

}

@media screen and (min-width: 320px) and (max-width: 768px) {



    .mainContainer {
        width: 100%;
        display: flex;
        justify-content: space-around;

    }


    .container {
        /* width: 100vh;
        margin: 50px auto; */
        width: 80%;



    }

    .itemIcon {
        margin-top: 95px;
        width: 220px;
        height: 100px;
        object-fit: contain;
    }

    .localItemName {
        font-size: 25px;
        margin: 0 auto;
        width: 60%;
        display: inline-block;
        text-align: center;
    }


    .itemInfo {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    .Carousel {
        margin: 0 auto;
        width: 100vh;
        margin-left: 40px;

    }

    .carouselItem {
        width: 290px;
        height: 350px;

        border: 1px solid #b5d8f7;
        border-radius: 5px;
        display: flex;
        color: black;
        text-decoration: none;
        flex-direction: column;
        position: relative;
    }

    .itemPrice {
        font-size: 3vw;
        margin-top: 10px;
    }

    .tryAlsoCont {
        width: 80%;
        height: 1500px;

        display: flex;
        overflow: hidden;
        justify-content: space-around;
        flex-direction: column;
        margin: 10px auto 0;
    }

    .textTAsteAlso {
        margin: 80px auto 20px;
    }

    .alsoItem {
        margin: 10px auto;
        width: 45%;
        height: 300px;
        border: 2px solid red;
    }

    .btnAlsoBuyMini {
        width: 6vw;
        font-size: 0.8vw;
        margin-right: 5px;
    }

    .nameAlsoProduct {
        font-size: 1.7vw;
    }

    .itemAlsoImg {
        width: 80%;
        height: 70px;
        object-fit: contain;
        margin: 10px auto;
    }

    .carouselContainer {
        width: 100%;

        margin: 0 auto 0;
    }

    .textAlso {
        margin: 0px auto 0;
    }

    .drinksContainer {
        display: flex;
        width: 90%;
        margin: 15px auto;


        justify-content: center;

    }


    .drink_Item {
        width: 90%;
        margin-left: 10px;
    }

    .orderDrink {
        width: 80px;
        height: 30px;
        border: 2px solid rgb(196, 195, 195);
        margin-top: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 7px;
    }

    .btnBuyDrink {
        width: 50px;
        height: 30px;
        font-size: 8px;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        text-decoration: #7ab9f0;
        margin-right: 5px;
        margin-top: 5px;
        background-color: #b5d8f7;
    }

}