* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerPanel {
    position: fixed;
    z-index: 1000;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    background-color: aliceblue;
    /* margin-bottom: 40px; */
    /* bottom: 20px; */
    top: 0;


}

.brand {
    width: 12%;
    height: 90%;
    display: flex;
    justify-self: center;
    align-items: center;
    background-color: #b5d8f7;
}

.brandIcon {
    width: 95%;
}

.productsPanel {
    height: 80px;
    width: 35%;
    display: flex;
    padding: 20px 10px 20px 10px;
    justify-content: space-around;

}

.productIcon {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: none;
    position: relative;
}

.nameIcon {
    font-weight: bold;
    color: black;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.productIcon::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: transparent;
    width: 0;
    height: 0;
}

.productIcon:hover:before {
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: #b5d8f7;
        border-bottom-color: transparent;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: #b5d8f7;
        border-bottom-color: transparent;
    }
}

.productIcon::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: transparent;
    width: 0;
    height: 0;
}

.productIcon:hover:after {
    animation: animate2 0.3s linear forwards;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: #b5d8f7;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: #b5d8f7;
    }
}


.aboutUs {
    width: 200px;
    min-height: 140px;
    border: 1px solid #4e9bdf;
    position: absolute;
    background-color: #b5d8f7;
    z-index: 1000;
    border-radius: 5px;
    top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.infoAboutUs {
    width: 70%;
    height: 35%;
    border: 1px solid #b5d8f7;
    font-weight: bold;
    border-radius: 5px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.infoAboutUs:hover {
    cursor: pointer;
    background-color: #b5d8f7;
    color: white;
}

#infoAboutUsID {
    padding-top: 11px;
}

#hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 20px;
    margin-right: 20px;

    z-index: 10;
}



.hamburger:hover {
    cursor: pointer;
}


.hamburger::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: transparent;
    width: 0;
    height: 0;
}

.hamburger:hover:before {
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: #b5d8f7;
        border-bottom-color: transparent;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: #b5d8f7;
        border-bottom-color: transparent;
    }
}

.hamburger::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: transparent;
    width: 0;
    height: 0;
}

.hamburger:hover:after {
    animation: animate2 0.3s linear forwards;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: #b5d8f7;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: #b5d8f7;
    }
}

.phoneContact {
    width: 12%;
    margin-left: 12px;
    padding-top: 7px;
}

.blockPhone {
    border: 1px solid black;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0 0 0;
    border-radius: 10px;
    background-color: #b5d8f7;
}

.blockPhone:hover {
    cursor: pointer;
    border: 1px solid #4e9bdf;
}

.weCall {
    font-weight: bold;
    font-size: 0.8vw;

}

.workTime {
    height: 25%;
    width: 210px;
    padding-top: 20px;
    margin-left: 55px;
}

.userLogin {
    width: 50px;
    height: 50px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    cursor: pointer;
}


.userLogin::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: transparent;
    width: 0;
    height: 0;
}

.userLogin:hover:before {
    animation: animate 0.3s linear forwards;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: 100%;
        height: 0;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: #b5d8f7;
        border-bottom-color: transparent;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: #b5d8f7;
        border-left-color: transparent;
        border-right-color: #b5d8f7;
        border-bottom-color: transparent;
    }
}

.userLogin::after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    border: 2px solid transparent;
    border-radius: 5px;
    background: transparent;
    width: 0;
    height: 0;
}

.userLogin:hover:after {
    animation: animate2 0.3s linear forwards;
}

@keyframes animate2 {
    0% {
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: transparent;
    }

    50% {
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: #b5d8f7;
    }

    100% {
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-left-color: #b5d8f7;
        border-right-color: transparent;
        border-bottom-color: #b5d8f7;
    }
}

.userLogo {
    width: 24px;
    height: 24px;
}

.packageBuy {
    width: 100%;
    height: 80px;
    position: relative;
    background-color: #b5d8f7;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.packageBuy:hover {
    cursor: pointer;
}

.basketContainer {
    width: 12%;
    display: flex;
    flex-direction: column;
}

.baketOpenCheck {
    width: 100%;
    height: 20px;
    position: relative;
    display: none;
    background-color: #b5d8f7;
}

.buyCount {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    z-index: 1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 70px;
    top: 10px;
    font-size: 15px;
    background-color: white;


}

.packageLogo {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 30px;
}

.totalPrice {
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cabinetContainer {
    width: 19%;
    /* //  height: 185px; */
    border-bottom: 2px solid #8fcbff;
    border-left: 2px solid #8fcbff;
    border-right: 2px solid #8fcbff;
    top: 100px;
    right: 150px;
    position: fixed;
    background-color: aliceblue;
}

.ul_cabinet_list {
    width: 100%;
    margin: 15px auto;
}

.itemListCabinet {
    list-style: none;
    height: 33px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    width: 92%;
    border: 1px solid #8fcbff;
    border-radius: 5px;
    text-align: center;
    position: relative;
    /* border-bottom: 2px solid #8fcbff; */
}

.itemListCabinet:hover {
    cursor: pointer;
}

.listLinkItem {
    text-decoration: none;
    width: 95%;
    font-weight: bold;
    font-size: 18px;
    top: 3px;
    right: 0px;
    position: absolute;
    color: #4e9bdf;
    text-align: center;
}

.logOutBtn {
    width: 95%;
    color: #4e9bdf;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
    border: none;
    padding-top: 5px;
}

.logOutBtn {
    color: black;
    cursor: pointer;

}

.logOutBtn:hover {
    color: rgb(158, 28, 28);
}

.listLinkItem:hover {
    color: black;
}

.infoActions {
    display: none;
}

.listLinkItem:hover {
    cursor: pointer;
    background-color: white;
}

.brandIconMobile {
    display: none;
}

.workTimeAboutUs {
    display: none;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .weCall {
        display: none;

    }

    .workTime {
        margin: 0 auto;
        width: 14%;
        display: flex;
        flex-direction: column;

    }

    .totalPrice {
        font-size: 12px;
    }

    .packageLogo {
        width: 30%;
        margin-left: 20px;
    }

    .phoneContact {
        width: 4%;
    }


    .workTimeText {
        font-size: 12px;

    }

    .workTimeNumber {
        font-size: 13px;
    }

    .packageBuy {
        position: relative;
        align-items: center;
    }

    .brand {
        height: 90%;

    }

    .brandIcon {
        width: 96%;

        object-fit: contain;
    }

    .basketContainer {
        width: 14%;
    }

    .productsPanel {
        width: 30%;
        margin: 0 auto;
    }

    .linkIcon {
        width: 25px;
        height: 25px;
    }

    .workTime {

        height: 100%;
        margin-left: 30px;
    }

    .nameIcon {
        font-size: 16px;
    }

    .headerPanel {
        height: 90px;
    }

    .cabinetContainer {
        width: 26%;
        top: 90px;

    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {

    .productsPanel {
        bottom: 0px;
        background-color: aliceblue;
        position: fixed;
        width: 100%;
    }

    .headerPanel {
        height: 80px;
    }

    .totalPrice {
        font-size: 13px;
    }

    .workTimeAboutUs {
        flex-direction: column;
        display: flex;
        margin-top: 40px;
    }

    .brandIcon {
        display: none;
    }

    .brand {
        display: flex;
        justify-content: center;
    }

    .brandIconMobile {
        display: block;

        width: 60%;
        height: 90px;


    }

    .weCall {
        display: none;
    }

    .workTime {
        width: 16%;

        margin-left: 55px;
        padding-left: 17px;
        display: none;
        height: 100%;
    }

    .phoneContact {
        width: 8%;
    }

    .workTimeNumber {
        font-size: 13px;
    }

    .workTimeText {
        font-size: 12px;

    }

    #hamburger {
        width: 50px;
        height: 50px;
        margin: 20px auto;
    }

    .basketContainer {
        width: 17%;
    }

    .packageLogo {
        width: 30px;
        height: 30px;
        margin: 0 10px 0 15px;
    }

    .buyCount {
        left: 38px;
    }


    .aboutUs {
        position: fixed;
        top: 80px;
        height: 100%;
        bottom: 80px;
        right: 0;
        border-bottom: none;
        border-top: none;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Центрування NavLink горизонтально */
        justify-content: flex-start;
        padding: 10px;
        box-sizing: border-box;
        background-color: #fff;
        /* Для наочності */
        z-index: 5;
    }

    .infoActions {
        width: 70%;
        border: 1px solid #4e9bdf;
        font-size: 22px;
        display: flex;
        font-weight: bold;
        border-radius: 5px;
        line-height: 40px;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        color: black;

    }

    .infoAboutUs {
        font-size: 20px;
        font-weight: bold;
        border-radius: 5px;
        border: 1px solid #4e9bdf;
        text-decoration: none;
        color: black;
        padding-top: 10px;
        margin: 15px auto 10px;
        height: 50px;
    }

    .infoAboutUs:hover {
        background-color: #b5d8f7;
        border: 1px solid black;
    }

    .infoActions:hover {
        background-color: #b5d8f7;
        border: 1px solid black;
    }

    #actionMenu {
        display: none;
    }

    .cabinetContainer {
        width: 22%;
        height: 195px;
        border-bottom: 2px solid #8fcbff;
        border-left: 2px solid #8fcbff;
        border-right: 2px solid #8fcbff;
        top: 70px;
        right: 150px;
        position: fixed;
        background-color: aliceblue;
    }

    .itemListCabinet {
        list-style: none;
        height: 37px;
        margin-top: 7px;
        margin-bottom: 7px;
        margin-left: 7px;
        width: 92%;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 10px;
        border: 1px solid #8fcbff;
        border-radius: 5px;
        text-align: center;
        position: relative;
        /* border-bottom: 2px solid #8fcbff; */
    }

    .listLinkItem {
        font-size: 11px;
        display: block;
        margin-top: 5px;

    }


}